.wrap-admin .nav-admin{
    background: #9152f8;
    background: -webkit-linear-gradient(top,#038a37,#4c046b);
   
}

.user-panel img {
    width: 70px;
    margin-left: 50px;
}
 .brand-link .image-logo {
    width: 92px;
    max-height: 46px;
    margin-left: 35px;
}
.brand-link .brand-text{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
}
li.nav-item.buttom-nav {
    margin-bottom: 17px;
    border-radius: 50px;
    border: 1px solid #fff;
}
.product-table {
    display: table;
    width: 100%;
  }
  
  .table-row {
    display: table-row;
  }
  
  .header {
    font-weight: bold;
  }
  
  .table-cell {
    display: table-cell;
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  .table-cell:first-child {
    width: 30%;
  }
  
  .table-cell:last-child {
    width: 30%;
  }
